<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Ranking</title>
	<link href="../css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>

	<!-- Header -->
	<header>
		<div class="menu">
			<img src="./Imagenes/Logos/menu.png" alt="Géneros" id="generos-btn">
			<ul id="menu-list">
					<li><a href="generos.html">Generos</a></li>
		</div>
	
		<div class="logo">
				<a th:href="@{/main}"><img src="./Imagenes/Logos/logo.jpg" alt="Logo"></a>
		</div>
	
		<div class="buscador">
			<input type="text" placeholder="Buscar">
		</div>
	
		<div class="cuenta">
				<a th:href="@{/main}"><img src="./Imagenes/Logos/logo.jpg" alt="Mi Cuenta"></a>
		</div>
	</header>

	<!-- Body -->

  <script src="./script.js"></script>
</body>
</html>
