<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Ranking</title>
	<link href="../css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>

	<!-- Header -->
	<header>
		<div class="menu">
			<a th:href="@{/main}"><img src="./Imagenes/Logos/logo.jpg" alt="Logo"></a>
		</div>
	
		<div class="logo">
				<a th:href="@{/main}"><img src="./Imagenes/Logos/logo.jpg" alt="Logo"></a>
		</div>
	
		<div class="buscador">
			<input type="text" placeholder="Buscar">
		</div>
	
		<div class="cuenta">
				<a href="@{/main}"><img src="./Imagenes/Logos/cuenta.png" alt="Mi Cuenta"></a>
		</div>
	</header>

	<!-- Body -->

	
  <script src="./script.js"></script>
</body>
</html>
