<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Ranking</title>
	<link href="../css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>

	<!-- Header -->
	<header>
		<div class="menu">
			<a th:href="@{/generos}"><img src="./Imagenes/Logos/menu.png" alt="Géneros" id="generos-btn"> </a>
			
		</div>
	
		<div class="logo">
				<a th:href="@{/main}"><img src="./Imagenes/Logos/logo.jpg" alt="Logo"></a>
		</div>
	
		<div class="buscador">
			<input type="text" placeholder="Buscar">
		</div>
	
	</header>

	<!-- Body -->
	<div class="registro">
  <h2>Registro</h2>
  <form action="#" th:action="@{/registro}" method="POST" th:object="${usuarioVotante}">
    <label for="usuario">Nombre:</label>
    <input type="text" id="nombre" name="nombre" th:field="*{nombre}" required="obligatorio">

	<label for="nombrePerfil">Nombre del perfil:</label>
    <input type="text" id="nombrePerfil" name="nombrePerfil" th:field="*{nombrePerfil}" required="obligatorio">

    <label for="correo">Correo electrónico:</label>
    <input type="email" id="correo" name="correo" th:field="*{correo}"required="obligatorio">

    <label for="contrasena">Contraseña:</label>
    <input type="password" id="contrasena" name="contrasena" th:field="*{contrasena}" required = "obligatorio">

    <button type="submit">Crear cuenta</button>
  </form>

  <p>¿Ya tienes cuenta? <button class="secondary" onclick="window.location.href='./iniciarSesion';">Iniciar Sesión</button></p>
</div>
	
  <script src="./script.js"></script>
</body>
</html>
